ion-avatar {
  width: 84px;
  height: 84px;
}

ion-list {
  --border-radius: 5px;
}

.card-avatar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.button-container {
  padding-left: 16px;
  padding-right: 16px;
}

.button-custom {
  --border-radius: 5px;
  margin-left: 0;
  margin-right: 0;
}
