<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="card-avatar">
    <ion-avatar>
      <img alt="User Image" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </div>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-label slot="end">admin</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">Administrator</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Unit</ion-label>
      <ion-label slot="end">Pusat</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Device ID</ion-label>
      <ion-label slot="end">87651234</ion-label>
    </ion-item>
  </ion-list>
  <div class="button-container">
    <ion-button expand="block" mode="ios" color="danger" class="button-custom">
      Logout
    </ion-button>
  </div>
</ion-content>
