<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="card-avatar">
    <ion-avatar>
      <img alt="User Image" src="./assets/avatar.svg" />
    </ion-avatar>
  </div>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-label slot="end">{{ profile?.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">{{ profile?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Unit</ion-label>
      <ion-label slot="end">{{ profile?.kopel }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Device ID</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ deviceId }}</ion-label>
    </ion-item>
  </ion-list>
  <div class="button-container">
    <ion-button expand="block" mode="ios" color="danger" class="button-custom" (click)="logout()">
      Logout
    </ion-button>
  </div>
</ion-content>
