ion-toolbar {
  --background: #00205c;
  --color: white;
  --min-height: 60px;
}

ion-avatar {
  width: 84px;
  height: 84px;
}

.list-md {
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-avatar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.button-custom {
  --border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}
