<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hasil Pencarian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-list>
    <ion-item *ngFor="let customer of customers; trackBy:trackItems; index as i" button detail="true"
      (click)="findCustomer(customer.id)" [lines]="customers.length - 1 === i ? 'none' : ''">
      <ion-label>
        <h3>{{ customer.id }} &bull; {{ customer.name }}</h3>
        <p>{{ customer.address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
