<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pelanggan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Pelanggan</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nomor</ion-label>
      <ion-label slot="end">{{ customer?.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">{{ customer?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alamat</ion-label>
      <ion-label slot="end">{{ customer?.address }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Golongan</ion-label>
      <ion-label slot="end">{{ customer?.group }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-label slot="end">{{ customer?.status }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Tagihan</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="bills?.length === 0">
      <ion-label>Tidak ada tagihan</ion-label>
    </ion-item>
    <ion-item *ngFor="let bill of bills; trackBy:trackItems" button detail="true" (click)="openModal()">
      <ion-label>{{ bill.month }} {{ bill.year }}</ion-label>
      <ion-label slot="end"><strong>{{ bill.total | formatCurrency }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="billAmount > 0" [inset]="true">
    <ion-item>
      <ion-label><strong>Total Tagihan</strong></ion-label>
      <ion-label slot="end" class="payment-amount"><strong>{{ billAmount | formatCurrency }}</strong></ion-label>
    </ion-item>
  </ion-list>
</ion-content>