<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pelanggan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Pelanggan</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nomor</ion-label>
      <ion-label slot="end">{{ customer?.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">{{ customer?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alamat</ion-label>
      <ion-label slot="end">{{ customer?.address }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Golongan</ion-label>
      <ion-label slot="end">{{ customer?.group }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-label slot="end">{{ customer?.status }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Tagihan</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let bill of bills; trackBy:trackItems" button detail="true" (click)="modalBillDetail()">
      <ion-label>{{ bill.month }} {{ bill.year }}</ion-label>
      <ion-label slot="end"><strong>{{ bill.total | formatCurrency }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><strong>Total Tagihan</strong></ion-label>
      <ion-label slot="end" class="payment-amount"><strong>{{ billAmount | formatCurrency }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <ion-modal [isOpen]="isModalOpen" [canDismiss]="modalDismiss()" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button>Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
