<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pelanggan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Data Pelanggan</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nomor</ion-label>
      <ion-label slot="end">
        {{ customer?.id }} <a><ion-icon name="copy"></ion-icon></a>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">{{ customer?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alamat</ion-label>
      @if (customer && customer.address.length > 25) {
      <ion-label slot="end">{{ customer.address | slice:0:25 }}...</ion-label>
      } @else {
      <ion-label slot="end">{{ customer?.address }}</ion-label>
      }
    </ion-item>
    <ion-item>
      <ion-label>Golongan</ion-label>
      <ion-label slot="end">{{ customer?.group }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Status</ion-label>
      <ion-label slot="end">{{ customer?.status }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Data Tagihan</strong>
      </ion-label>
    </ion-item>
    @if (bills && bills.length > 0) {
    <ion-item *ngFor="let bill of bills; trackBy:trackItems; index as i" button detail="true" (click)="openModal()"
      [lines]="bills.length - 1 === i ? 'none' : ''">
      <ion-label>{{ bill.month }} {{ bill.year }}</ion-label>
      <ion-label slot="end"><strong>{{ bill.total | formatCurrency }}</strong></ion-label>
    </ion-item>
    } @else {
    <ion-item lines="none">
      <ion-label>Tidak ada tagihan</ion-label>
    </ion-item>
    }
  </ion-list>
  @if (billAmount > 0) {
  <ion-list lines="none">
    <ion-item>
      <ion-label><strong>Total Tagihan</strong></ion-label>
      <ion-label slot="end" class="payment-amount"><strong>{{ billAmount | formatCurrency }}</strong></ion-label>
    </ion-item>
  </ion-list>
  }
</ion-content>