<ion-header>
  <ion-toolbar>
    <ion-title>Pembayaran Berhasil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding-start ion-padding-end ion-padding-top">
    <ion-button expand="block" mode="ios" (click)="buttonPrintReceipt()">Cetak Bukti Bayar</ion-button>
  </div>
  <div class="ion-padding-start ion-padding-end">
    <ion-button expand="block" mode="ios" (click)="buttonSendReceipt()">Kirim Bukti Bayar</ion-button>
  </div>
  <div class="ion-padding-start ion-padding-end ion-padding-top">
    <ion-button expand="block" mode="ios" color="medium" (click)="buttonClose()">Tutup</ion-button>
  </div>
</ion-content>
