ion-toolbar {
  --background: #00205c;
  --color: white;
  --min-height: 60px;
}

ion-button {
  --background: #3ea6e1;
  --background-hover: #2b97d5;
  --background-activated: #2b97d5;
  --background-focused: #2b97d5;
  --border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
}

ion-input.custom {
  --background: #f6f8fc;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
  --border-radius: 10px;
}

.list-md {
  border-radius: 10px;
  margin-bottom: 10px;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}
