<ion-content>
  <div class="container">
    <h2 class="ion-text-center">BillMo v1.0</h2>
    <ion-list lines="none">
      <ion-item>
        <ion-input type="text" aria-label="Username" placeholder="Username" class="custom" mode="ios"
          [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" aria-label="Kata Sandi" placeholder="Kata Sandi" class="custom" mode="ios"
          [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button expand="block" mode="ios" (click)="login()">
        Login
      </ion-button>
    </div>
  </div>
</ion-content>
