<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pembayaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Pelanggan</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nomor</ion-label>
      <ion-label slot="end">{{ customer?.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">{{ customer?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alamat</ion-label>
      <ion-label slot="end">{{ customer?.address }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Golongan</ion-label>
      <ion-label slot="end">{{ customer?.group }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-label slot="end">{{ customer?.status }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Tagihan</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let bill of bills; trackBy:trackItems; index as i">
      <ion-checkbox labelPlacement="end" justify="start" mode="ios" [(ngModel)]="billChecked[i]"
        (ionChange)="changeChecked(i)">
        {{ bill.month }} {{ bill.year }}
      </ion-checkbox>
      <ion-label slot="end"><strong>{{ formatNumberFromString(bill.total) }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><strong>Total Bayar</strong></ion-label>
      <ion-label slot="end" class="payment-amount"><strong>{{ formatNumber(paymentTotal) }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <div class="button-container">
    <ion-button id="openModal" expand="block" mode="ios">
      Bayar
    </ion-button>
  </div>
  <ion-modal #modal trigger="openModal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
    <ng-template>
      <ion-content color="light">
        <ion-list [inset]="true">
          <ion-item>
            <ion-input [(ngModel)]="paymentTotal" label="Total Tagihan" labelPlacement="stacked" value="0"
              readonly="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="paymentReceived" label="Diterima" labelPlacement="stacked" value="0"
              (change)="calculatePaymentReturn()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="paymentReturn" label="Kembalian" labelPlacement="stacked" value="0"
              readonly="true"></ion-input>
          </ion-item>
        </ion-list>
        <div class="button-container">
          <ion-button expand="block" mode="ios" (click)="storePayment()">
            Bayar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>