<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Pembayaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail Pembayaran</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Pelanggan</strong>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nomor</ion-label>
      <ion-label slot="end">{{ customer?.id }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label slot="end">{{ customer?.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alamat</ion-label>
      <ion-label slot="end">{{ customer?.address }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Golongan</ion-label>
      <ion-label slot="end">{{ customer?.group }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-label slot="end">{{ customer?.status }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <strong>Data Tagihan</strong>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let bill of bills; trackBy:trackItems; index as i">
      <ion-checkbox labelPlacement="end" justify="start" mode="ios" [(ngModel)]="billChecked[i]"
        (ionChange)="changeChecked(i)">
        {{ bill.month }} {{ bill.year }}
      </ion-checkbox>
      <ion-label slot="end"><strong>{{ formatNumber(bill.total) }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label><strong>Total Bayar</strong></ion-label>
      <ion-label slot="end" class="payment-amount"><strong>{{ formatNumber(paymentTotal) }}</strong></ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" mode="ios" (click)="test()">
    Bayar
  </ion-button>
</ion-content>