<ion-content>
  <div class="container">
    <h2 class="ion-text-center">Billing {{ appVersion }}</h2>
    <ion-list lines="none">
      <ion-item>
        <ion-input [(ngModel)]="verificationCode" aria-label="Kode Verifikasi" placeholder="Kode Verifikasi"
          class="custom" mode="ios"></ion-input>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button expand="block" mode="ios" (click)="register()">
        Register
      </ion-button>
    </div>
  </div>
</ion-content>
