ion-menu-button {
    color: var(--ion-color-primary);
}

ion-button {
  --border-radius: 5px;
  margin-left: 0;
  margin-right: 0;
}

ion-input {
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-list {
  border-radius: 5px;
  margin-bottom: 12px;
}
