ion-button {
  --border-radius: 5px;
  margin-left: 16px;
  margin-right: 16px;
}

ion-input {
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.list-ios.list-inset {
  margin-bottom: 12px;
  border-radius: 5px;
}
